# Telegram Bot Configuration
EXPO_PUBLIC_TELEGRAM_BOT_TOKEN=your_telegram_bot_token_here
EXPO_PUBLIC_TELEGRAM_CHAT_ID=your_telegram_chat_id_here

# Binance Pay Configuration
EXPO_PUBLIC_BINANCE_PAY_API_KEY=your_binance_api_key_here
EXPO_PUBLIC_BINANCE_PAY_SECRET=your_binance_api_secret_here
EXPO_PUBLIC_BINANCE_PAY_MERCHANT_ID=your_binance_merchant_id_here

# API Configuration
EXPO_PUBLIC_API_URL=your_backend_api_url_here

# BDV Pago Móvil Configuration
EXPO_PUBLIC_BDV_API_URL=https://bdvconciliacionqa.banvenez.com:444/getMovement
EXPO_PUBLIC_BDV_API_KEY=96R7T1T5J2134T5YFC2GF15SDFG4BD1Z
EXPO_PUBLIC_BDV_TELEFONO_DESTINO=04124145811
EXPO_PUBLIC_BDV_RIF=J501214891
